<p *ngIf = "!(Auth.getUser()| async)">Your are not logged in</p>

<button mat-raised-button color="primary" (click)="addBookFormOPen = !addBookFormOPen" >
  Add New Book 
</button>


<bookform *ngIf = "addBookFormOPen" 
(update) = "add($event); "
(closeEdit) = "addBookFormOPen =  false" 
[formType] = "'Add Book'">

</bookform>


<mat-accordion *ngIf = "(Auth.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let book of books,  let i = index"   >
                         
          <mat-expansion-panel-header  >
            <mat-panel-title  >
              {{book.title}}
            </mat-panel-title>
        
            <mat-panel-description>
              {{book.author}}
            </mat-panel-description>

            <button mat-raised-button color="primary" (click)="deleteBook(book.id)" >
              Delete 
            </button>
          </mat-expansion-panel-header>
          <button mat-raised-button color="primary"    (click) = "editstate[i] = !editstate[i]" >
            Edit 
          </button>


          <!--update is emmiter name, update(event) its the 'update()' parent function-->
          <!--we can replace hidden with ngIf-->

          <bookform 
          [hidden] = "!editstate[i]"
          [title] = "book.title"
          [author] = "book.author"
          [id] = "book.id"
          (update) = "update($event); editstate[i] = false;"
          (closeEdit) = "editstate[i] = false" 
          [formType] = "'Update Book'"
          >

      </bookform>
          

          <p *ngIf='book.summary!=""'> {{book.summary}} </p>
          <p *ngIf='!book.summary' > -- Sorry, the Summary will be added soon -- </p>
         
    </mat-expansion-panel>
</mat-accordion>

<button mat-raised-button color="primary" (click)="previousPage()" >
  Previous Page</button>
<button mat-raised-button color="primary" (click)="nextPage()" >
Next Page</button>
