<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group" [(ngModel)]=url_network>
  <mat-radio-button  class="example-radio-button" *ngFor="let network of networks" [value]=network   >
    {{network.toUpperCase()}}
  </mat-radio-button>
</mat-radio-group>

<div *ngIf="url_network !='bbc' && url_network !='cnn' && url_network!='nbc' ">Value is not in the set </div>


