<p *ngIf="!(weatherData$|async) && !hasError">LOADING DATA...</p>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar  >
        <img src=  '{{image}}'>

      </div>
      <mat-card-title *ngIf="!hasError"> Temperatues in {{city}} is {{(weatherData$|async).temperature |number:'1.0-0'}}º ,<br> More Info:<br> Country: {{country}} <br> Longitude: {{longitude}}  <br> Latitude: {{latitude}}</mat-card-title>
      <mat-card-title *ngIf="hasError">  {{errorMassage}} </mat-card-title>

      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
        
      </p>
      <a  routerLink="/city" routerLinkActive="active">Books</a>

      {{errorMassage}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>