<p *ngIf = "!(postData$ | async)"><mat-spinner diameter="30"></mat-spinner>Loading Data....</p>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.id}}. {{post.title}}
        </mat-panel-title>
       
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
    </mat-expansion-panel>
  </mat-accordion>
